<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}
  {% if page.url == '/' %}
    {% set page_title %}{{ pkg.title }}, {{ pkg.description }}{% endset %}
  {% else %}
    {% set page_title %}{{ title }} — {{ pkg.title }}{% endset %}
  {% endif %}
  <title>{{ page_title }}</title>
  <meta property="og:title" content="{{ page_title }}" />
{% endblock %}

{% include "css.njk" %}
{% include "js.njk" %}

{% block description %}
  <meta name="description" content="{{ description or content | excerpt | striptags }}" />
  <meta property="og:description" content="{{ description or content | excerpt | striptags }}" />
{% endblock %}

<link rel="canonical" href="{{ pkg.homepage + page.url }}" itemprop="url" />
<meta property="og:url" content="{{ pkg.homepage + page.url }}" />

{% if page.layout != "pages" %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | attributeDate }}" />
  {% for tag in tags %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}
{% endif %}

{# webmentions with webmention.io #}
<link rel="webmention" href="https://webmention.io/pack11ty.dev/webmention" />
<link rel="pingback" href="https://webmention.io/pack11ty.dev/xmlrpc" />

<link rel="alternate" type="application/rss+xml" title="Feed for all content on {{ pkg.title }}" href="/feeds/all.xml" />
<link rel="icon" type="image/jpeg" href="/images/logo-192px.png" />

{# ########################################################
 # opengraph and Twitter
 # ########################################################}
<meta property="og:site_name" content="{{ pkg.title }}" />
<meta name="twitter:creator" content="@nhoizey" />
<meta name="twitter:site" content="@nhoizey" />
{# https://developer.twitter.com/en/docs/twitter-for-websites/webpage-properties#twtr-article-embedded-survey #}
<meta name="twitter:widgets:csp" content="on" />
{#
https://developers.facebook.com/docs/sharing/best-practices?locale=fr_FR#images
https://developers.facebook.com/tools/debug/sharing/
#}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{% ogImage ogTitle %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

{# ########################################################
 # webmentions with webmention.io
 # ########################################################}
<link rel="pingback" href="https://webmention.io/nicolas-hoizey.com/xmlrpc" />
<link rel="webmention" href="https://webmention.io/nicolas-hoizey.com/webmention" />

{# iOS features #}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="/images/logo-192px.png" />
<meta name="apple-mobile-web-app-title" content="{{ pkg.title }}" />
{# https://timkadlec.com/remembers/2018-06-06-web-watch/ #}
<meta name="disabled-adaptations" content="watch" />

{#
Theme color: https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
#}
<meta name="theme-color" content="#663399">

{# web app manifest #}
{# crossorigin: https://twitter.com/TimVereecke/status/1225547620791341062 #}
<link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />

{# web monetization: https://webmonetization.org/ #}
{# <meta name="monetization" content="ADD-YOUR-OWN-TOKEN-AND-UNCOMMENT" /> #}

{# rel-me (should be in visible links) #}
<link rel="me" href="https://twitter.com/nhoizey" />

{% block morehead %}{% endblock %}
