<footer>
  <p>Built by <a href="https://github.com/nhoizey" rel="me">Nicolas Hoizey</a> with <a href="https://www.11ty.dev/">Eleventy</a> and hosted by <a href="https://netlify.com/">Netlify</a>.</p>
</footer>
