<footer>
  <p><a href="https://github.com/nhoizey/pack11ty">{{ pkg.title }}</a>, built with <a href="https://www.11ty.dev/">Eleventy</a></p>
  <p><a href="https://github.com/nhoizey/pack11ty/stargazers"><img src="https://img.shields.io/github/stars/nhoizey/pack11ty.svg?style=social" alt="Github stars" /></a></p>
</footer>
