<footer>
  <p>Built by <a href="https://nicolas-hoizey.com">Nicolas Hoizey</a> (<a href="https://github.com/nhoizey" rel="me">on GitHub</a>) with <a href="https://www.11ty.dev/">Eleventy</a> and hosted by <a href="https://netlify.com/">Netlify</a>.</p>
</footer>
