<ul>
  {% for item in collections.navigation %}
    <li
      {% if item.url == '/' and page.url == '/' or (item.url != '/' and item.url in page.url) %}
        class="current"
      {% endif %}>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ul>
