// TODO: understand why the full path is needed here but not in critical
@import '06_components/footer.scss';
@import 'content_parts/prism-onedark.scss';
@import 'content_parts/code.scss';
@import 'content_parts/markdown-classes.scss';
