@import '_global_properties.scss';

@import '03_generic/reset.scss';

@import '_layout.scss';

@import '04_elements/headings.scss';
@import '04_elements/links.scss';
@import '04_elements/lists.scss';
@import '04_elements/tables.scss';
@import '04_elements/figures.scss';

@import '05_objects/pack11ty-logo.scss';

@import '06_components/header.scss';
@import '06_components/notifications.scss';
@import '06_components/news.scss';

body {
  font-size: calc(0.9em + 0.3vw);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
