img {
  max-width: 100%;
  height: auto;
}

figure,
img {
  clear: both;
  display: block;
  margin: var(--gap) auto;
}

figure {
  text-align: center;

  img {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;
  text-align: left;

  font-size: smaller;
  font-style: italic;
  margin: 0.1em 1em;
  padding: 0.3em 0;
  color: #666;

  p {
    margin: 0;
  }
}
