.info,
.success,
.warning,
.error {
  padding: 0.4em 0.7em;

  background-color: #ccc;
  color: #222;
  border: 2px solid #999;
  border-radius: 0.3em;

  text-decoration: none;
  position: relative;

  &::before {
    font-size: 2em;
    line-height: 1;
    position: absolute;
    top: 0.05em;
    left: 0.2em;
  }

  p {
    margin: 0;
    padding: 0 0 0 2em;
  }
}

.info {
  color: #3c3d76;
  background-color: #dfd8f0;
  border-color: #d6c6e9;

  &::before {
    content: #{unicode('2139') unicode('FE0E')}; // ℹ
  }

  a:link,
  a:visited {
    color: #2b2c54;
  }
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  &::before {
    content: #{unicode('263A') unicode('FE0E')}; // ☺︎
  }

  a:link,
  a:visited {
    color: #2b542c;
  }
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  &::before {
    content: #{unicode('26A0') unicode('FE0E')}; // ⚠
  }

  a:link,
  a:visited {
    color: #66512c;
  }
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  &::before {
    content: #{unicode('2639') unicode('FE0E')}; // ☹︎
  }

  a:link,
  a:visited {
    color: #843534;
  }
}
