<!DOCTYPE html>
<html lang="en">
  <head>
  {% include "head.njk" %}
  </head>

  <body
    data-img-src="{{ page.inputPath | dirname }}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
  >
    <header role="banner">
      {% include "components/header.njk" %}
    </header>

    <main id="main" role="main">
    <nav role="navigation">
      {% include "components/navigation.njk" %}
    </nav>
      {{ content | safe }}
    </main>

    <footer>
      {% include "components/footer.njk" %}
    </footer>
    <link rel="stylesheet" href="/ui/css/{{ hashes_css['additional.css'] }}" />

    {#
    https://buzut.net/configurer-rollup-bundles-esm-cjs/
    https://v8.dev/features/modules#browser
    #}
    <script async type="module" src="/ui/js/{{ hashes_additional_es['src/_assets/js/additional.js']}}"></script>
    <script async nomodule src="/ui/js/{{ hashes_additional_iife['src/_assets/js/additional.js']}}"></script>
  </body>

</html>
