h1 {
	margin-top: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	font-size: 2rem;
	border-bottom: 2px solid var(--theme-color);
}

h2,
h3,
h4,
h5,
h6 {
	margin-block: 0;
}

// Anchor links
// Based on https://smolcss.dev/#smol-article-anchors
.heading-wrapper {
	margin-top: calc(2 * var(--gap));
	margin-bottom: 0;
	border-bottom: 1px solid var(--theme-color);

	display: grid;
	// anchor link on the far right for long wrapping headings
	grid-template-columns: minmax(auto, max-content) min-content;
	gap: calc(var(--gap) / 2);
	align-items: baseline;
}

.deeplink {
	font-size: 1.5rem;

	&:link,
	&:visited {
		padding: 0 0.75rem;
		border-radius: 100%;

		color: var(--color-meta);
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: var(--theme-color-contrast);

		background-color: var(--theme-color);
	}
}
