// external links
a[href^="https://"]:not([href^="https://pack11ty.dev"]):not(.button):not(.install)
{
	padding-right: 15px;
	background-position: top 0.1em right;
	background-size: 12px 12px;
	background-repeat: no-repeat;

	background-image: url('/images/external-link-blue.svg');
	footer & {
		background-image: url('/images/external-link-white.svg');
	}
}
