footer {
  margin-top: calc(2 * var(--gap));
  margin-left: calc(-1 * var(--page-padding));
  margin-right: calc(-1 * var(--page-padding));
  margin-bottom: calc(-1 * var(--page-padding));
  padding: var(--gap);
  background-color: var(--theme-color);
  color: var(--theme-color-contrast);

  a {
    color: var(--theme-color-contrast);
  }

  img {
    margin: 0;
  }
}
