---
title: Page not available while offline
permalink: offline/fallback.html
---

<p><strong>It looks like the connection is lost</strong>, and the page you're trying to get in not in your cache.</p>
<p>While waiting for connexion, you can still read some <a href="/offline/">pages available offline</a>.</p>
