---
title: Pages available while offline
---

<p>These pages are in your local browser cache so you can browser and read them even when you're offline.</p>
<ul id="cached"></ul>

{% set offlineJs %}
{% include_raw "_site/js/" + hashes_offline['assets/js/offline.js'] %}
{% endset %}
<script>
  {{ offlineJs | replace('//# sourceMappingURL=', '//# sourceMappingURL=/js/') | safe }}
</script>
