footer {
  margin: calc(2 * $gap) calc(-1 * $gap) calc(-1 * $gap);
  padding: 0 $gap;
  background-color: $theme-color-main;
  color: white;

  a {
    color: white;
  }

  img {
    margin: 0;
  }
}
