.button {
	display: inline-block;

	margin: 0 var(--gap) var(--gap) 0;

	padding: 0.2em 0.7em;

	font-size: smaller;
	white-space: nowrap;
	text-decoration: none;

	border: 1px solid rgba(27, 31, 35, 0.2);
	border-radius: 0.25em;
	color: #fff;

	&:hover {
		opacity: 0.8;
	}
}

.github {
	// background-color: #269f42;
	// background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
	// A bit darker than official colors for accessibility
	background-color: #1e7b33;
	background-image: linear-gradient(-180deg, #1e7b33, #19672a 90%);
}

.netlify {
	background-color: #2e51ed;
	background-image: linear-gradient(-180deg, #2e51ed, #1d40dc 90%);
}

.vercel {
	background-color: #000;
}

.stackblitz {
	background-color: #1c2025;
}

.install {
	display: inline-block;
	margin: 0 var(--gap) var(--gap) 0;
}
