img.logo {
	max-width: 50%;

	@media (min-width: 20em) {
		max-width: 33%;
		float: right;
		margin: 0 0 var(--gap) var(--gap);
	}

	@media (min-width: 30em) {
		max-width: 25%;
	}
}

.logo {
	display: block;
	margin: var(--gap) auto;
}
