---
---

@import '{{ site.theme }}';

// Styles to personnalize the Dinky theme for Github pages
body {
  font-size: 1.1rem;
}

header li {
  height: auto;
}

code {
  font-size: 1em;
}

code.language-plaintext {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background-color: #fff4d1;
  color: currentColor;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

a:link,
a:visited {
  font-weight: bold;
}
