---
---

@import '{{ site.theme }}';

// Styles to personnalize the Dinky theme for Github pages
body {
  font-size: 1.1rem;
}

header li {
  height: auto;
}

code.language-plaintext {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background-color: #fff4d1;
  color: currentColor;
}
