---
permalink: feeds/news.xml
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>News from {{ pkg.title }}</title>
  <link href="{{ pkg.homepage }}/feeds/news.xml" rel="self"/>
  <link href="{{ pkg.homepage }}/"/>
  <updated>{{ collections.news | rssLastUpdatedDate }}</updated>
  <id>{{ pkg.homepage }}</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  {% for entry in collections.news | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{% endset %}
    {% set titleDate = entry.date | readableDate %}
    <entry>
      <title>{{ entry.data.title or entry.data.layout + ' from ' + titleDate }}</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">{{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
    </entry>
  {% endfor %}
</feed>
