---
permalink: feeds/news.xml
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>News from {{ site.title }}</title>
  <link href="{{ site.url }}/feeds/news.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.news | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for entry in collections.news | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(site.url) }}{% endset %}
    {% set readableDate = entry.date | date("Do MMMM YYYY") %}
    <entry>
      <title>{{ entry.data.title or entry.data.layout + ' from ' + readableDate }}</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">{{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
    </entry>
  {% endfor %}
</feed>
