// https://github.com/sass/dart-sass/issues/568#issuecomment-562086079
// @description converts 1 or more characters into a unicode
// @markup {scss}
// unicode("e655"); // "\e655"
@function unicode($str) {
	@return unquote('"') + unquote(str-insert($str, '\\', 1)) + unquote('"');
}
